<div class="col">
  <img class="crd-img" src="<%= image_path(image) %>">
  <div class="card">
    <h2 style="color: white; text-transform: uppercase; font-size: 25px; font-weight: bold;"> <%= title %> </h2>
    <p style="color: #FCED9C"><%= body %></p>
    <a class="hvr-wobble-vertical" onclick='smoothScroll(document.getElementById("<%= id %>"))'> <img style="height: 25px" src="<%=image_path('icons/triangle-down.png')%>"> </a>

  </div>
</div>
