<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="containder-fluid text-center">
  <div id="header-image" class="row text-white text-center">
      <div class="col landing-text">
        <h1>Campfire</h1>
        <h6>In a society so heavily influenced by technology, meeting people face-to-face is becoming increasingly difficult.</h6>
        <h6>Campfire's mission is to break this trend.</h6><br>

        <button class="btn btn-primary mb-4" onclick="smoothScroll(document.getElementById('learn-more'))">
          <span>Learn More</span>
        </button><br>

        <img class="mb-3" style="width: 150px;" src="<%= image_path('appstore.svg') %>">
        <img class="mb-3" style="width: 150px;" src="<%= image_path('googleplay.png') %>"><br>

        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-snapchat-ghost"></a>
        <a href="#" class="fa fa-instagram"></a>


      </div>

  </div>

  <div class="learn-more text-center" id="learn-more">
    <div class="row text-center">
      <div class="col mt-5 mb-3">
          <img class="hvr-grow" src="<%= image_path('logo_small.png') %>"><br><br>
          <h2>Join the Campfire!</h2>
          <p>An innovtive, easy, and low-pressure way to bring people together.</p>
      </div>
    </div>

    <div class="row">
      <%= render partial: 'card', locals: {id: 'connect',
                                            image: 'connect.png',
                                            title: "Connect",
                                            body: "Use familiar technology to bring people and communities together."} %>
      <%= render partial: 'card', locals: {id: 'fun',
                                            image: 'fun.png',
                                            title: "Have Fun",
                                            body: "Meeting new people is fun when the pressures are minimized."} %>
      <%= render partial: 'card', locals: {id: 'engage',
                                            image: 'engage.png',
                                            title: "Engage",
                                            body: "Have a conversation, make a friend, and learn something new."} %>
    </div>

  </div>

  <div class="row">
    <%= render partial: 'expand', locals: {id: 'connect',
                                          image: 'connect.png',
                                          title: "Connect",
                                          body: "Use familiar technology to bring people and communities together."} %>
    <%= render partial: 'expand', locals: {id: 'fun',
                                          image: 'fun.png',
                                          title: "Have Fun",
                                          body: "Meeting new people is fun when the pressures are minimized."} %>
    <%= render partial: 'expand', locals: {id: 'engage',
                                          image: 'engage.png',
                                          title: "Engage",
                                          body: "Have a conversation, make a friend, and learn something new."} %>

  </div>
